<div class="login-container">
    <div class="login-section">
        <div>
            <img src="images/favicon.png" alt="Sanitizer" class="login-img">
        </div>
        <h1 class="login-title">Sanitizer</h1>
    </div>

    <form class="login-form" id="loginForm">
        <div>
            <input type="text" class="login-input" id="loginInput" placeholder="Логин">
        </div>

        <div class="password-wrapper">
            <input type="password" class="login-input" id="passwordInput" placeholder="Пароль">
            <i class="bi bi-eye-slash password-toggle" id="togglePassword"></i>
            <div class="error-message" id="generalError">Неверный логин или пароль</div>
        </div>

        <button type="submit" class="login-btn">Вход</button>
    </form>
</div>