<div class="profile-creation-panel" id="profileCreationPanel">

    <div class="profile-creation-content">
        <h1 class="creation-title">Создание нового профиля</h1>
        
        <div class="creation-input-container">
            <i class="bi bi-person input-icon"></i>
            <input type="text" class="creation-input" id="newProfileName" placeholder="Введите название профиля">
        </div>
    
        <div class="rules-header" id="rulesHeader">
            <h2 class="rules-title">Правила обработки данных</h2>
        </div>
        
        <div class="data-method-container" id="rulesContainer"></div>
        
        <button class="add-icon-btn" id="addDataTypeBtn">
            <div class="creation-add-row">
                <i class="bi bi-plus-circle-fill"></i>
            </div>
            <span class="add-text">Добавить тип данных</span>
        </button>
        
        <div class="creation-buttons-row">
            <button class="action-btn creation-back-btn" id="backFromCreationBtn">Вернуться назад</button>
            <button class="action-btn creation-save-btn" id="saveProfileBtn">Сохранить профиль</button>
        </div>
    </div>
</div>

<div class="data-type-wrapper" id="dataTypeModal">
    <div class="modal-overlay"></div>
    <div class="data-type-btn">
        <div class="data-type-header">
            <h3 class="data-type-text">Выберите тип данных</h3>
            <button class="data-type-close-btn" id="closeDataTypeModalBtn">
                <i class="bi bi-x"></i>
            </button>
        </div>
        <div class="data-type-dropdown">
            <div class="data-type-option" data-value="Email">
                <i class="bi bi-envelope option-icon"></i>
                <span class="option-title">Email <span class="option-description">(Электронная почта)</span></span>
            </div>
            <div class="data-type-option" data-value="Phone">
                <i class="bi bi-telephone option-icon"></i>
                <span class="option-title">Phone <span class="option-description">(Номера телефонов)</span></span>
            </div>
            <div class="data-type-option" data-value="Card">
                <i class="bi bi-credit-card option-icon"></i>
                <span class="option-title">Card <span class="option-description">(Номера карт)</span></span>
            </div>
            <div class="data-type-option" data-value="IpAddress">
                <i class="bi bi-globe option-icon"></i>
                <span class="option-title">IpAddress <span class="option-description">(IP-адреса)</span></span>
            </div>
            <div class="data-type-option" data-value="Guid">
                <i class="bi bi-person-lines-fill option-icon"></i>
                <span class="option-title">Guid <span class="option-description">(Уникальный идентификатор)</span></span>
            </div>
            <div class="data-type-option" data-value="Name">
                <i class="bi bi-person option-icon"></i>
                <span class="option-title">Name <span class="option-description">(Имена и ФИО)</span></span>
            </div>
            <div class="data-type-option" data-value="Url">
                <i class="bi bi-link-45deg option-icon"></i>
                <span class="option-title">Url <span class="option-description">(Адреса веб-страниц)</span></span>
            </div>
            <div class="data-type-option" data-value="ApiKey">
                <i class="bi bi-key option-icon"></i>
                <span class="option-title">ApiKey <span class="option-description">(API ключи и токены)</span></span>
            </div>
            <!--
            <div class="data-type-option" data-value="Context">
                <i class="bi bi-lock option-icon"></i>
                <span class="option-title">Контекстные секреты</span>
            </div>
            -->
            <div class="data-type-option" data-value="Regex">
                <i class="bi bi-regex option-icon"></i>
                <span class="option-title">Regex <span class="option-description">(Создание собственных типов)</span></span>
            </div>
        </div>
    </div>
</div>

<template id="rule-card-template">
    <div class="rule-card">
        <div class="rule-icon-wrapper">
            <i class="bi rule-icon"></i>
        </div>
        <div class="rule-type"></div>

        <div class="method-wrapper">
            <div class="method-btn">
                <span class="method-text">Выберите метод санитизации</span>
                <i class="bi bi-chevron-down method-arrow"></i>
            </div>
            <div class="method-dropdown">
                <div class="method-option" data-value="Mask">
                    <i class="bi bi-eye-slash option-icon"></i>
                    <span class="option-title">Mask <span class="option-description">(Маскирование)</span></span>
                </div>
                <div class="method-option" data-value="Replace">
                    <i class="bi bi-repeat option-icon"></i>
                    <span class="option-title">Replace <span class="option-description">(Замена)</span></span>
                </div>
                <div class="method-option" data-value="Hash">
                    <i class="bi bi-hash option-icon"></i>
                    <span class="option-title">Hash <span class="option-description">(Хэширование)</span></span>
                </div>
                <div class="method-option" data-value="Tokenize">
                    <i class="bi bi-code-square option-icon"></i>
                    <span class="option-title">Tokenize <span class="option-description">(Токенизация)</span></span>
                </div>
                <div class="method-option" data-value="Remove">
                    <i class="bi bi-trash option-icon"></i>
                    <span class="option-title">Remove <span class="option-description">(Удаление)</span></span>
                </div>
            </div>
        </div>

        <div class="move-buttons">
            <button class="move-up-btn">
                <i class="bi bi-chevron-down move-icon up"></i>
            </button>
            <button class="move-down-btn">
                <i class="bi bi-chevron-down move-icon down"></i>
            </button>
        </div>

        <button class="delete-rule-btn">
            <i class="bi bi-trash delete-icon"></i>
        </button>
    </div>
</template>
