/* Скроллбар для боковой панели */
.dialogs-history::-webkit-scrollbar {
    width: 9px;
}

.dialogs-history::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    margin-block: 10px;
}

.dialogs-history::-webkit-scrollbar-thumb {
    background: var(--accent-primary);
    border-radius: 20px;
    transition: background 0.2s ease;
}

/* Стилизация скроллбара для страницы чата */
.messages-area::-webkit-scrollbar {
    width: 8px;
}

.messages-area::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 10px;
}

.messages-area::-webkit-scrollbar-thumb {
    background: var(--accent-primary);
    border-radius: 10px;
}

/* Скроллбар для поле ввода */
.message-input::-webkit-scrollbar,
.empty-message-input::-webkit-scrollbar {
    width: 9px;
    margin-right: 20px;
}

.message-input::-webkit-scrollbar-track,
.empty-message-input::-webkit-scrollbar-track {
    background: var(--bg-secondary);
    border-radius: 20px;
    margin-block: 13px;
}

.message-input::-webkit-scrollbar-thumb,
.empty-message-input::-webkit-scrollbar-thumb {
    background: var(--text-tertiary);
    border-radius: 20px;
}

/* Стилизация скроллбара для санитизированного сообщения */
.sanitized-message .message-bubble::-webkit-scrollbar {
    width: 5px;
}

.sanitized-message .message-bubble::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 20px;
    margin-block: 13px;
}

.sanitized-message .message-bubble::-webkit-scrollbar-thumb {
    background: var(--text-tertiary);
    border-radius: 20px;
}

/* Стилизация скроллбара для списка профилей */
.profiles-list::-webkit-scrollbar {
    width: 6px;
}

.profiles-list::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 20px;
    margin-block: 10px;
}

.profiles-list::-webkit-scrollbar-thumb {
    background: var(--text-tertiary);
    border-radius: 20px;
}

/* Стилизация скроллбара для страницы создания профиля */
.profile-creation-panel::-webkit-scrollbar {
    width: 8px;
}

.profile-creation-panel::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 10px;
}

.profile-creation-panel::-webkit-scrollbar-thumb {
    background: var(--accent-primary);
    border-radius: 10px;
}

/* Стилизация скроллбара для списка типов данных */
.data-type-dropdown::-webkit-scrollbar {
    width: 7px;
}

.data-type-dropdown::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 10px;
    margin-block: 10px;
}

.data-type-dropdown::-webkit-scrollbar-thumb {
    background: var(--text-tertiary);
    border-radius: 10px;
}

