:root {
    --bg-primary: #F5F5F5;
    --bg-secondary: #E8E8E8;

    --text-primary: #000000;
    --text-secondary: #2C2C2C;
    --text-tertiary: #ACACAC;
    --text-muted: #A6A6A6;
    --text-white: #FFFFFF;

    --accent-text: #368F4C;
    --accent-primary: #037C4E;
    --accent-secondary: #D6EBDF;
    --icon: #1C7E34;
    --btn-login-disabled: #85BEA6;

    --color-disabled: #9D9D9D;
    --color-delete: #D60505;
    --color-error: #D70000;

    --shadow-default: rgba(0, 0, 0, 0.1);
    --overlay-backdrop: rgba(0, 0, 0, 0.5);
}