:root {
    --bg-primary: #F5F5F5;
    --bg-secondary: #E8E8E8;
    --bg-hover: #D8D8D8;

    --text-primary: #000000;
    --text-secondary: #2C2C2C;
    --text-tertiary: #ACACAC;
    --text-muted: #A6A6A6;
    --text-white: #FFFFFF;

    --accent-primary: #037C4E;
    --accent-hover: #02A065;
    --accent-secondary: #D6EBDF;
    --icon: #1C7E34;

    --color-disabled: #9D9D9D;
    --color-delete: #D60505;

    --border-primary: #5B5B5B;
    --border-checkbox: #D9D9D9;

    --shadow-default: rgba(0, 0, 0, 0.1);
    --overlay-backdrop: rgba(0, 0, 0, 0.5);
}